/* instal fonts */
@font-face {
  font-family: Black Way;
  src: url('../fonts/Black\ Way\ -\ Personal\ Use.otf');
}
.header{
  width: 110%;
  overflow: hidden;
  background: linear-gradient( rgb(2, 2, 114), rgb(91, 80, 252));
  margin: -10px;
  padding: 5px;
}

.header .logo{
  font-size: 32px;
  float: left;
  font-family: Black Way ;
  color: white;
}

.header .navigation{
  float: right;
  margin-top: 40px;
}
.header .navigation li {
  float: right;
  margin-left: 20px;
  display: block;
  font-size: 18px;
}
.header .navigation li a {
  color: white;
  text-decoration: none;
  font-family: 'Akshar', sans-serif;
}
.header .navigation li a:hover {
  color: red;
}

.container{
  width: 70%;
  overflow: hidden;
  margin: auto;
}
.tables{
  background-color: antiquewhite;
  margin-left: 50px;
  padding: 15px;
}

 .icon-kelas{
  background-image: url(../images/man1.jpg);
  background-size: cover;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  float: left;
}

.name{
  margin-left: 70px;
}

.parent{
  margin-top: 20px;
}